<!DOCTYPE html>
<html lang="{{ site.lang | default: "ja-JP" }}">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{page.title | default: "???"}} | ねこおきば。</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css"
    />

    <meta propety="og:title" content="{{page.title | default: "???"}}">
    <meta propety="og:description" contents="{{ content }}">
    <meta propety="og:site_name" content="ねこおきば。">
  </head>
  <body>
    <section class="section">
      <div class="container">
        <div class="content">{{ content }}</div>
      </div>
    </section>
  </body>
</html>
