<!DOCTYPE html>
<html lang="{{ site.lang | default: 'ja-JP' }}">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ page.title | default: "???" }} | ねこおきば。</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <link
      rel="stylesheet"
      href="https://blog.nennneko5787.net/css/default.css"
    />
    <link
      rel="stylesheet"
      href="https://blog.nennneko5787.net/css/markdown.css"
    />
    <script src="https://blog.nennneko5787.net/js/markdown.js"></script>
    <script>
      const commitId = "{{ page.commitId | default: '' }}";
    </script>
    <script src="https://blog.nennneko5787.net/js/comment.js"></script>

    <meta property="og:title" content="{{ page.title | default: "???" }}">
    <meta
      property="og:description"
      content="{{ content | strip_html | strip_newlines | replace: '  ', ' ' | truncate: 120 }}"
    />
    <meta property="og:site_name" content="ねこおきば。" />
    <meta property="og:type" content="{{ page.type | default: "article" }}" />
    <meta
      property="og:image"
      content="{{ page.thumbnail | default:
    'https://blog.nennneko5787.net/images/0.png' }}"
    />
    <meta name="title" content="{{ page.title | default: "???" }}" />
    <meta
      name="description"
      content="{{ content | strip_html | strip_newlines | replace: '  ', ' ' | truncate: 120 }}"
    />
    <meta name="robots" content="index, follow" />
    <meta name="language" content="Japanese" />
    <meta name="author" content="ねんねこ" />
  </head>
  <body>
    <section class="hero is-primary">
      <div class="hero-body">
        <p class="title">
          <a href="https://blog.nennneko5787.net/" class="has-text-inherit"
            >ねこおきば。</a
          >
        </p>
        <p class="subtitle">ねんねこのブログです。</p>
      </div>
    </section>

    <section class="section">
      <div class="container">
        <div class="content">
          <div class="columns">
            <div class="column is-two-thirds">
              <div class="box" id="content">{{ content }}</div>
            </div>
            <div class="column">
              <div class="box profile">
                <h6>About me</h6>

                <figure class="image is-128x128">
                  <img
                    class="is-rounded"
                    src="https://blog.nennneko5787.net/images/avatar.png"
                  />
                </figure>
                <b>ねんねこ</b>

                <p class="has-text-centered">
                  趣味でプログラムを書いています。BeatStreamで遊びたい。
                </p>

                <h6>Contact me</h6>

                <ul>
                  <li><i class="bi bi-discord"></i> pjcd</li>
                  <li><i class="bi bi-discord"></i> gumigumi.jp</li>
                  <li><i class="bi bi-twitter-x"></i> Fng1Popn</li>
                </ul>
              </div>

              <div class="box">
                <h6>新着記事</h6>
                <ul>
                  {articles}
                </ul>
              </div>

              <div class="box">
                <h6>コメント</h6>
                <a
                  href="https://github.com/nennneko5787/blog2/commit/{{ page.commitId }}"
                  >コメントを残す</a
                >
                <div id="comments"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer class="footer">
      <div class="content has-text-centered">
        <p>
          このブログの内容はあくまでも個人の意見です。試したことによる損害を管理人は負いません。ご了承ください。
        </p>
      </div>
    </footer>
  </body>
</html>
